* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.global {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


.logo-section {
  width: 50%;
  background: linear-gradient(to bottom, #fafafc, #D3D3D3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  width: 100%;
  height: auto;
}


.form-section {
  width: 50%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100%;
  max-width: 450px;
  padding: 0 20px;
}

.login-title {
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
}

.login-subtitle {
  font-size: 16px;
  color: #666666;
  margin-bottom: 40px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  position: relative;
  width: 100%;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}

.toggle-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.input-group input {
  width: 100%;
  height: 50px;
  padding: 10px 40px;
  background-color: #f8f8f8;
  font-size: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.input-group input:focus {
  outline: none;
  border-color: #ffc107;
  box-shadow: 0 0 0 2px rgba(255, 193, 7, 0.2);
}

.forgot-password {
  text-align: right;
}

.forgot-password a {
  color: #6c63ff;
  text-decoration: none;
  font-size: 14px;
}

.login-button {
  height: 50px;
  background-color: #ffc107;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #ffb300;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}

.signup-link p {
  font-size: 14px;
  color: #666666;
}

.signup-text {
  color: #ffc107;
  text-decoration: none;
  font-weight: 600;
}


@media (max-width: 768px) {
  .global {
    flex-direction: column;
  }
  
  .logo-section, .form-section {
    width: 100%;
    height: 50vh;
  }
  
  .logo-container {
    width: 200px;
    height: 200px;
  }
  
  .form-container {
    padding: 20px;
  }
  
  .login-title {
    font-size: 30px;
  }
  
  .login-subtitle {
    margin-bottom: 20px;
  }
}